<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @podcast.name %>
</p>

<p>
  <strong>Rss url:</strong>
  <%= @podcast.rss_url %>
</p>

<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %> |
<%= link_to 'Import', import_podcast_path(@podcast), method: :post %>

<h2>Episodes</h2>

<% @podcast.episodes.each do |ep| %>
  <div><%= link_to ep.title, episode_path(ep) %></div>
<% end %>
